body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

nav p {
    font-family:Arial, sans-serif;
    text-align: center;
    position: absolute;
    margin-right: 25px;
    left: 100px;
}

nav input[type=text]{
    margin-top: 35px;
    text-align: right;
    top: 100px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: blue;
}

.container {
    margin-top: 20px;
}
