body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
   color: blue;
}
nav a {
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: blue;
}

.container {
    margin-top: 20px;

    .ingredients {
    font-size: large;
    }
}

